.contact-container {
  display: flex;
  align-items: center;
  flex-basis: 15%;
}

.contact-button {
  width: 145px;
  height: 50px;
  border: none;
  background-color: #1a1b1f;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  margin-right: 10px;
}

.contact-button:hover {
  background-color: #1a1b1fe7;
}

.learn-button {
  height: 50px;
  border: none;
  background-color: white;
  padding: 10px 35px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.learn-button:hover {
  background-color: #f4f4f475;
  border: 1px solid #f4f4f49d;
}